{% extends 'base.html' %}
{% block content %}


<div class="container">

  <div class="row">
    {% if projects %}
    {% for  project in projects%}
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="{{project.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <small><p>@{{project.user}}</p></small>
          <h5 class="card-title">{{project.title}}</h5>
          <p class="card-text">{{project.description}}</p>
          <p class='card-text'>{{project.created | timesince}} ago</p>
          <form action="{% url 'like_project' project.pk %}" method="POST">
            {%csrf_token%}
            <button type="submit" name="like_id" value="{{project.id}}" class="btn btn-secondary btn-sm"><i class="fa-solid fa-thumbs-up"></i></button>
            <small><p>{{project.likes.all.count}} Likes</p></small>
          </form>
          <a href="{{project.link}}" class="btn btn-primary">Go to view the project</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  
</div>

{% else%}
<div class="shadow p-3 mb-5 bg-body rounded">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="text-center" style="color: #000;"><i class="fa-light fa-face-disappointed"></i> Sorry there are no Projects to display</p>
    </blockquote>
  </div>
</div>
{% endif %}
{% endblock %}